* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    padding-top: 10px;
    align-items: center;
}
.container {
    max-width: 1194px;
    margin: auto;
}
.logo-image {
    /* margin: 0 76px 15px 123px; */
}
.search-form {
    position: relative;
    margin-left: 76px;
    display: flex;
    max-width: 620px;
    flex-grow: 1;
}
.search-input {
    width: 100%;
    height: 49px;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    border: none;
    padding-left: 21px;
}
.search-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 18px;
    cursor: pointer;
}
.auth {
    background: #EBEBEB;
    border-radius: 50px;
    width: 99px;
    height: 49px;
    margin-left: auto;
}
.login {
    padding: 16px 30px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.shop {
    background: #F66A15 url('../img/fi-rr-shopping-cart.svg') no-repeat center center;
    width: 49px;
    height: 49px;
    border-radius: 50px;
    margin-left: 30px;
    text-decoration: none;
    position: relative;
}
.shoping-counter {
    background: #FFAF19;
    font-size: 8px;
    line-height: 9px;
    border-radius: 50px;
    padding: 5px;
    text-decoration: none;
    color: #000;
    display: block;
    width: 18px;
    position: absolute;
    right: 0;
    bottom: 0;

}