* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;;
}
p {
    margin: 0;
    padding: 0;
}
.button {
    border-radius: 25px;
    padding: 13px 52px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}

/***Header***/


.header {
    display: flex;
    padding-top: 10px;
    align-items: center;
}
.container {
    max-width: 1194px;
    margin: auto;
}

.search-form {
    position: relative;
    margin-left: 76px;
    display: flex;
    max-width: 620px;
    flex-grow: 1;
    border-radius: 10px;
    background: rgba(238, 238, 238, 0.71);
}
.search-input {
    width: 100%;
    padding-left: 20px;
    padding-right: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
    background-color: transparent;
    
    border: none;
}
.search-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 18px;
    cursor: pointer;
}
.auth {
    background: #EBEBEB;
    border-radius: 50px;
    width: 99px;
    height: 49px;
    margin-left: auto;
}
.login {
    padding: 16px 30px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.shop {
    background: #F66A15 url('../img/fi-rr-shopping-cart.svg') no-repeat center center;
    width: 49px;
    height: 49px;
    border-radius: 50px;
    margin-left: 30px;
    text-decoration: none;
    position: relative;
}
.shoping-counter {
    background: #FFAF19;
    font-size: 8px;
    line-height: 9px;
    border-radius: 50px;
    padding: 5px;
    text-decoration: none;
    color: #000;
    display: block;
    width: 18px;
    position: absolute;
    right: 0;
    bottom: 0;
}


/*** First screen***/

.main {
    margin-top: 20px;
}
.slide {
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    min-height: 400px;
    padding-left: 100px;

}
.slide-content {
    max-width: 388px;
}
.slide-title {
    font-size: 50px;
    line-height: 51px;
    font-weight: bold;
    margin-bottom: 15px;
}
.slide-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 32px;
}
.button-primary {
    background: #F47322;
    color: #fff;
}

.slide-summer {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%), url('../img/summer.png') no-repeat center center / cover;
}
.slide-vitamins {
    background: linear-gradient(90deg, rgba(14, 14, 14, 0.43) 43.17%, rgba(0, 0, 0, 0) 100%), url('../img/vitamins.png') no-repeat  center center / cover; 
}
.slide-autumn {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%), url('../img/autumn.png') no-repeat center center / cover;
}
.slider-buttons {
    position: absolute;
    right: 46px;
    bottom: 40px;
    z-index: 9;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}
.slider-button {
    cursor: pointer;
}
.swiper {
    position: relative;
}
.promo {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    margin: -20px;
}
.card {
    border-radius: 20px;
    flex: 50%;
    margin: 20px;
    padding-left: 32px;
    color: #fff;
    max-width: 570px;
    padding-top: 35px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sweet-basket {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/sweet-basket.png') no-repeat center center / cover;
}
.minimum-effort {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/minimum-effort.png') no-repeat center / cover;
}
.card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 21px;
}
.card-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;  
    max-width: 200px;
}
.card-price {
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    display: block;
    margin-bottom: 8px;
}
.card-delivery {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 25px;
    display: block;
}
.button-default {
    background: #FFFFFF;
    color: #5F5F61;
    margin-bottom: 31px;
}

/***Delivery week***/

.delivery-week {
    padding-top: 110px;
    padding-bottom: 100px;
}
.section-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
    margin-bottom: 47px;
}
.delivery-cards {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.delivery-card {
    margin: 15px;
    width: 275px;
    height: 182px;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
}
.delivery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.delivery-tag {
    position: absolute;
    top: 16px;
    left: 10px;
    border-radius: 30px;
    
    padding: 5px 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #49494F;
}
.tag-health {
    background: #D0FD89;
}
.tag-vegetables {
    background: #AEBC41;
}
.tag-meat {
    background: #B86B78;
}
.tag-bird {
    background: #D68334;
}
.tag-fish {
    background: #CD6255;
}
.tag-children {
    background: #FFFDBF;
}
.tag-parents {
    background: #F6FDC8;
}
.tag-holiday {
    background: #FEF7FE;
}


/*** Categories ***/

.categories {
    padding: 40px 0 60px;
    background: #F6F6F6;
}
.tabs {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 62px;
}
.tabs-item {
}
.tabs-link.active {
    color: #F37321;
}
.tabs-link {
    font-size: 20px;
    line-height: 23px;
    color: #49494F;
    text-decoration: none;
    margin-right: 58px;
}
.tabs-content {
    display: flex;
    margin: -19px;
}
.tabs-card {
    max-width: 270px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    margin: 19px;
}
.tabs-img {
    max-width: 100%;
}
.tabs-card-content {
    padding: 21px 27px 21px 23px;
}
.tabs-title {
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
.tabs-text {
    margin-bottom: 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #B9B9BE;
}
.tabs-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tabs-good {
}
.tabs-price {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 23px;
    line-height: 23px;
    color: #4B4B51;
    display: block;
}
.tabs-weight {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #AAAAB1;
}
.button-outline {
    cursor: pointer;
    padding: 15px 25px;
    border: 2px solid #F37321;
    border-radius: 33px;
    background: transparent;
    color: #F37321;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.button-center {
    display: block;
    margin: auto;
    max-width: 315px;
    text-align: center;
    margin-top: 60px;
}

/*** Benefits ***/
.benefits {
    padding: 100px 0 202px;
}
.benefits-cards {
    display: flex;
    justify-content: space-between;
}
.benefits-card {
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    width: 270px;
    height: 296px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 30px 0 25px;
}
.benefits-card-img {
    margin-bottom: 34px;
}
.benefits-card-content {
    
}
.benefits-card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    max-width: 188px;
    display: block;
    margin: auto;
    margin-bottom: 13px;
}
.benefits-card-text {
    font-size: 14px;
    line-height: 22px;
    color: #49494F;
    max-width: 223px;
}

/*** Footer ***/ 
.footer {
    padding: 40px 0;
    background: #F6F6F6;
}
.footer-wrapper {
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 205px;
    margin-right: 50px;
}
.footer-link {
    font-size: 16px;
    line-height: 23px;
    color: #000000;
    margin-right: 50px;
}
.social-links {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.social-link {
    margin-left: 20px;
    text-decoration: none;
}


@media (max-width: 1260px) {
    .container {
      max-width: 950px;
    }
    .search-form {
      margin-left: 40px;
      margin-right: 40px;
    }
    .tabs-content {
      flex-wrap: wrap;
    }
    .tabs-card {
      flex: 50%;
      max-width: calc(50% - 40px);
    }
    .benefits-cards {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .benefits-card {
        margin: 45px;
    }
}

@media (max-width: 992px) {
    .container {
      max-width: 720px;
    }
    .slide {
      padding: 70px;
    }
    .delivery-card {
      width: calc(50% - 30px);
    }
    .benefits-cards {
        flex-wrap: wrap;
        justify-content: center;
    }
    .benefits-card {
        margin: 30px;
    }
    .footer-logo {
      margin-right: 40px;
    }
}

@media (max-width: 768px) {
    .container {
      max-width: 560px;
    }
    .header {
      flex-wrap: wrap;
    }
    .search-form {
        width: 560px;
        order: 5;
        margin-left: 0;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .promo {
      flex-wrap: wrap;
      margin: 0;
    }
    .tabs-content {
        margin: 0;
    }
    .delivery-cards {
        margin: 0;
    }
}

@media (max-width: 576px) {
    .container {
      max-width: 90%;
    }
    .section-title {
        line-height: 30px;
    }
    .auth {
        order: 4;
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    .shop {
        margin-left: auto;
    }
    .slide {
        padding: 15px;
    }
    .slide-content {
        max-width: 100%;
    }
    .slide-title {
        font-size: 30px;
        line-height: 1.02em;
    }
    .slide-text {
        font-size: 14px;
        line-height: 1.44em;
        max-width: 80%;
    }
    .button-primary {
        display: block;
        text-align: center;
        margin: auto;
    }
    .slider-buttons {
        right: 96px;
        bottom: 12px;
    }
    .card-header {
        text-align: left;
        padding-left: 20px;
        display: block;
        margin-right: auto;
    }
    .card-text {
        
    }
    .card-footer {
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
    }
    .card-delivery {
        text-align: center;
    }
    .card {
        padding-left: 0;
    }
    .delivery-card {
        width: 100%;
    }
    .tabs-card {
      max-width: 100%;
    }
    .tabs {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .tabs-item {
        margin-bottom: 10px;
    }
    .benefits {
        padding: 60px 0 90px;
    }
    .footer-wrapper {
        flex-direction: column;
    }
    .footer-logo {
        margin: auto;
        width: 150px;
    }
    .footer-nav {
        margin: 45px auto;
        text-align: center;
    }
    .footer-link {
        display: block;
        margin: 10px 0;
    }
    .social-links {
        margin: 0;
    }
}
  